/* START:: Counter */
.pc-counter{
    background-color: $red;
    color: $white;
    padding: 10px;
}


.pc-counter i{
    color: $red;
}
.counter {
    background-color:$white;
    padding: 20px 0;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: $white !important;
}

.counter .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
}
/* END:: Counter */