.pc-contact-banner, .pc-about-banner, .pc-blog-banner, .pc-fleet-banner, .pc-business-banner, .pc-events-banner, .pc-tours-banner, .pc-wedding-banner{
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    font-size: small !important;
}

.pc-about-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/about.png');
}
.pc-about-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/blog.png');
}
.pc-fleet-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/fleet.png');
}
.pc-business-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/business.png');
}
.pc-events-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/event.png');
}
.pc-tours-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/tour.png');
}
.pc-wedding-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/1600x800/wedding.png');
}

.pc-contactus-btn{
    background-color: $red;
    @include roundBorders;
    width: fit-content;
}

.pc-contactus-btn a{
    color: $white;
}

.pc-contactus-btn a:hover{
    color: $white;
}

.form-control{
    border-radius: 0;
}

.pc-contact-submit{
    border: none;
    background-color: $red;
    color: $white;
    padding: 10px;
}

.pc-contact-submit:hover{
    border: 1px solid $red;
    background-color: transparent;
    color: $red;
    padding: 10px;
}

// news letter
.pc-newsletter{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.pc-newsletter input{
    width: 30vw;
}

.pc-newsletter-btn{
    background-color: $red;
    width: fit-content;
    padding: 0 15px;
}

.pc-newsletter-btn button, .pc-newsletter-btn button:hover{
    color: $white;
}

.pc-contact-banner a{
    text-decoration: none;
    color: $red;
}

@media (max-width: 768px){
    .pc-contact-banner{
        height: 52vh;
    }
}

@media (max-width: 491px){

    .pc-newsletter input{
        width: 80vw;
    }

    .pc-newsletter{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }

    .pc-newsletter-btn{
        max-width: 491px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@media (max-width: 424px){
    .pc-contact-banner{
        height: 42vh;
    }
}
