  /* Sections Header
  --------------------------------*/
  .section-header h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    position: relative;
  }

  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    width: 50%;
  }

  @media (max-width: 767px) {
    .section-header p {
      width: 100%;
    }
  }

  /* Section with background
  --------------------------------*/
  .section-bg {
    background: $darkBackground;
  }

  /* About Us Section
  --------------------------------*/
  #about {
    background: $darkBackground;
    padding: 60px 0;
  }

  #about .about-container .background {
    margin: 20px 0;
  }

  #about .about-container .content {
    background: $darkBackground;
  }

  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }

  #about .about-container p {
    line-height: 26px;
  }

  #about .about-container p:last-child {
    margin-bottom: 0;
  }

  #about .about-container .icon-box {
    background: $darkBackground;
    background-size: cover;
    padding: 0 0 30px 0;
  }

  #about .about-container .icon-box .icon {
    float: left;
    background: $darkBackground;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $red;
    transition: all 0.3s ease-in-out;
  }

  #about .about-container .icon-box .icon i {
    font-size: 24px;
    line-height: 0;
  }

  #about .about-container .icon-box:hover .icon {
    background: $red;
  }

  #about .about-container .icon-box:hover .icon i {
    color: $darkBackground;
  }

  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }

  #about .about-container .icon-box .title a {
    color: $red;
  }

  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

  #about .about-extra {
    padding-top: 60px;
  }

  #about .about-extra h4 {
    font-weight: 600;
    font-size: 24px;
  }

  /* Services Section
  --------------------------------*/
  #services {
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }

  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: $darkBackground;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
  }

  #services .box:hover {
    transform: translateY(-5px);
  }

  #services .icon {
    position: absolute;
    left: -15px;
    top: calc(50% - 32px);
  }

  #services .icon i {
    font-size: 64px;
    line-height: 0;
    transition: 0.5s;
  }

  #services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  #services .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
  }

  #why-us {
    padding: 60px 0;
    background: $red;
  }

  #why-us h3,
  #why-us p {
    color: $dark-textColor;
  }

  #why-us .card {
    color: $white !important;
    background: $green;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    transition: 0.3s ease-in-out;
    height: 100%;
  }

  #why-us .card-text, .purecounter{
    color: $white !important;
  }

  @media (max-width: 991px) {
    #why-us .card {
      margin: 0;
    }
  }

  #why-us .card i {
    font-size: 48px;
    padding-top: 15px;
  }

  #why-us .card h5 {
    font-size: 22px;
    font-weight: 600;
  }

  #why-us .card p {
    font-size: 15px;
    color: #d8eafe;
  }

  #why-us .card .readmore {
    color: $darkBackground;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
  }

  #why-us .card .readmore:hover {
    border-bottom: $white solid 2px;
  }

  #why-us .counters {
    padding-top: 40px;
  }

  #why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: $darkBackground;
  }

  #why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
  }

  /********** common setting **********/
  h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a,
  button {
    cursor: pointer;
  }

  .jumbotron {
    margin-bottom: 0 !important;
  }

  .atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: 0.3s ease-in-out !important;
  }

  .atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
  }

  .atlas-cta-wide {
    width: 100%;
  }

  .cta-blue {
    background: $green;
    color: $white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .cta-blue:hover {
    border: 1px solid $green;
    color: $green;
  }

  .cta-ghost {
    border: 2px solid $darkBlue !important;
    color: $darkBlue;
  }

  .cta-ghost:hover {
    color: $darkBackground;
    background: #121a2e;
  }

  /********** feature (skew background) **********/
  .feature img {
    width: 100%;
    max-width: 480px;
  }

  #feature-first {
    background: linear-gradient(168deg, $background-color 55%, $red 0);
  }
