body, html{
  overflow-x: hidden;
}
// Variables
@import 'abstracts/variables';

// Dark Theme
@import 'abstracts/dark';

// Mixins
@import 'abstracts/mixins';

// START:: Navbar
@import 'components/navbar';

// header
@import 'components/hero';

h1 {
  font-size: 2.3em !important;
}

h2 {
  font-size: 1.8em !important;
}

h3 {
  font-size: 1.5em !important;
}

h4 {
  font-size: 1.2em !important;
}

h5 {
  font-size: 1em !important;
}

h6 {
  font-size: 1em !important;
}

p {
  font-size: 1em !important;
}

li,
label,
::placeholder {
  font-family: sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em !important;
  }
  h2 {
    font-size: 1.8em !important;
  }
  h3 {
    font-size: 1.5em !important;
  }
  h4 {
    font-size: 1.4em !important;
  }
  h5 {
    font-size: 1em !important;
  }
  h6 {
    font-size: 0.9em !important;
  }
  p {
    font-size: 0.9em !important;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.6em !important;
  }
  h3 {
    font-size: 1.3em !important;
  }
  h4 {
    font-size: 1.1em !important;
  }
  h5 {
    font-size: 1em !important;
  }
  h6 {
    font-size: 0.8em !important;
  }
  p {
    font-size: 0.8em !important;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 1.6em !important;
  }
  h2 {
    font-size: 1.28em !important;
  }
  h3 {
    font-size: 1.024em !important;
  }
  h4 {
    font-size: 0.8192em !important;
  }
  h5 {
    font-size: 0.6554em !important;
  }
  h6 {
    font-size: 0.5243em !important;
  }
  p {
    font-size: 0.8192em !important;
  }
}

.linkStyle{
  text-decoration: none;
  color: $dark-textColor;
}
.item {
    margin: 2px;
  }

.text-red{
  color: $red;
}

@media (max-width: 767px){
  .footer-grid-column{
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
  }

  .pc-contact-banner .text-white.w-50 {
    width: 100% !important;
}
}

.pc-brands{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.owl-nav [class*="owl-"] {
  margin: 0 10px;
}

.owl-prev,.owl-next {
    font-size: 30px !important;
    color: $dark-textColor !important;
}

.owl-prev {
  content: "< ";
}

.owl-next {
  content: " >";
}

.pc-blog-category a {
  text-decoration: none;
  color: black;
}

footer h6, .footer-grid-column p i{
  color: $red;
}

input:focus,
.uneditable-input:focus,
textarea:focus,
select:focus {
  border-color: $white !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $white !important;
  outline: 0 none;
}

//cards
@import 'components/cardsandbanners';

// Contact
@import 'pages/contact';

// Testimonials
@import 'components/testimonial';

// About
@import 'pages/about';

// Service
@import 'pages/service';
