@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin roundBorders {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }