// Cards
.pc-carPriceBadge{
    background-color: $red;
    color: $white;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
}

.owl-carousel i{
    color: $red;
}

// Banners
.pc-home-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/1600x800/img-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pc-home-banner-icon i{
    color: $white;
    font-size: 40px;
}

.pc-bi-box{
    display: flex;
    gap: 0.5rem;
}

.pc-bannerNumbers{
    display: flex;
    justify-content: space-between;
}

.pc-singleBlog-image img{
    height: 60vh;
}

.pc-dnc span{
    background-color: $red;
    color: $white;
    width: fit-content;
}

.pc-singleBlog-comments{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 30px;
}

.card{
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.02);
}

.pc-banner-breadcrumb{
    font-size: 24px;
}

.pc-owl-center {
    display: flex !important;
    justify-content: center !important;
  }

@media (max-width: 768px){
    .pc-owl-center {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
      }
}

@media (max-width: 700px){
    .pc-singleBlog-image img{
        height: 40vh;
    }
}

@media (max-width: 500px){
    .pc-bi-box{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .pc-singleBlog-comments{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .pc-bannerNumbers h2{
        font-size: 21px !important;
    }
}
