.pc-navbar{
    position: fixed;
    top: 0;
    z-index: 95;
}

.pc-navbar a{
    text-decoration: none;
}
.pc-navbar-logo{
    color: $white;
    border-radius: 50%;
    background-color: $red;
    width: fit-content;
}

.pc-navbar-logo:hover, .pc-navbar-booknow:hover{
    background-color: $green;
}
.pc-navbar-name h5{
    color: $dark-textColor;
}
.pc-navbar-booknow{
    color: $white;
    background-color: $red;
    border: none;
    @include roundBorders;
}

.pc-navbar-mobile-toggle{
    float: right;
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
}
.pc-navbar-mobile-toggle a{
    color: $red;
}

.pc-navbar-mobile-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

// Mobile Navbar
.pc-mobile-navbar-close{
    display: none;
}

.pc-mobile-list{
    display: none;
}

@media (max-width: 840px){
    .pc-navbar-mobile-toggle{
        display: block;
    }

    .pc-desktop-navbar > div{
        display: none;
    }

    .pc-navbar-mobile-logo{
        display: flex !important;
        justify-content: center !important;
    }

    .pc-mobile-navbar-close{
        display: block;
    }

    .pc-mobile-navbar{
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.6s;
        z-index: 99;
    }

    .pc-mobile-navbar.navbar-active{
        left: 0;
    }

    .pc-mobile-navbar-close{
        color: $red;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }

    .pc-mobile-list{
        display: block;
        margin-top: 60px;
    }
}

@media (max-width: 575px){
    .pc-mobile-navbar{
        width: 75%;
    }
}